.app-slides {
  margin-top: 60px;

  &__title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #1b1d1f;
    margin-bottom: 30px;
  }
}
