.navigation-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
  height: 44px;

  &:hover {
    background: #f4f5f6;
  }

  &_active {
    background: #5946d7;

    &:hover {
      background: #5946d7;
    }

    .navigation-item__text {
      color: #fff;
    }
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #1b1d1f;
    text-align: center;
    user-select: none;
  }

  &__span {
    width: 20px;
    height: 20px;
    background: #fb6019;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
}

.navigation {
  width: 100%;
  background: #fff;
  padding: 12px 0;

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    :nth-child(8) {
      background: #f4f5f6;
    }
  }
}
