.catalog-item {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e8;
  border-radius: 6px;
  transition: 0.2s;
  height: 380px;
  overflow: hidden;

  &:hover {
    position: absolute;
    top: 0;
    height: 500px;
    position: relative;
    z-index: 10;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  }

  &__img-block {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__name {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #1b1d1f;
    margin-bottom: 5px;
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1b1d1f;
    margin-bottom: 5px;
  }

  &__artikul {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #7a7680;
    margin-bottom: 12px;

    span {
      color: #6b59cc;
    }
  }

  &__price {
    width: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #6b59cc;
    background-color: rgba(89, 70, 215, 0.1);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s;
    user-select: none;
    margin-bottom: 20px;

    &:active {
      transform: scale(0.95);
    }

    &_added {
      background-color: #6b59cc;
      color: #fff;
    }
  }

  &__primary-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #7a7680;

    span {
      color: #1b1d1f;
    }
  }
}
